@font-face {
  font-family: 'CKStencil';
  src:  font-url("CKStencil/CKStencil.eot");
  src:  font-url("CKStencil/CKStencil.eot") format("embedded-opentype"), 
        font-url("CKStencil/CKStencil.woff2") format("woff2"), 
        font-url("CKStencil/CKStencil.woff") format("woff"), 
        font-url("CKStencil/CKStencil.ttf") format("truetype"), 
        font-url("CKStencil/CKStencil.svg#CKStencil") format("svg"); 
}
