.spacer_40
p.big.yellow Завершилась наша <br>музыкальная викторина.
.icon-finish
p Лучше всех получилось поймать <br>шведскую волну <br>у Dimanche Melnikov, Elena Lapteva <br>и Paul Besson.
p Поздравляем победителей! <br>Ждём всех в Стокгольме!
p Кстати, <a href="http://swedishwave.ru/9/" target="_blank">микс LoveStockholm</a> всё ещё <br>доступен для прослушивания.