.spacer_20
a.logo-black.ui-clickable data-controller="NavScreenCtrl" data-screen="main" href="#"
h2.about-title Знаешь всё о музыке?
p Стокгольм — музыкальная столица мира. <br>Огромное количество самых любимых и узнаваемых хитов было придумано, записано и сыграно в главном городе Швеции, где в 2016 году пройдёт конкурс «Евровидение». 
p Поклонники всех жанров с удовольствием окунутся в это море удивительного звука — начни с музыкального микса. 
p
  a.gray href="http://swedishwave.ru" target="_blank" Послушай, как звучит Стокгольм!
/ a.checkyourself.nav.ui-clickable data-controller="NavScreenCtrl" data-screen="test" href="#" Проверь себя