- if Rails.env.production? 
  script src="https://use.typekit.net/axt2ybv.js"
  javascript:
    try{Typekit.load({ async: true });}catch(e){}
- if Rails.env.development? 
  css:
    @font-face {
      font-family: 'futura-pt';
      src:  url("#{asset_path('futurafuturisc/futurafuturisc.eot')}");
      src:  url("#{asset_path('futurafuturisc/futurafuturisc.eot')}") format("embedded-opentype"), 
            url("#{asset_path('futurafuturisc/futurafuturisc.woff')}") format("woff"), 
            url("#{asset_path('futurafuturisc/futurafuturisc.ttf')}") format("truetype"); 
    }