@import "compass/css3";
@import "normalize";
@import "_/mixins";
@import "_/fonts";
@import "_/keyframes";
@import "_/menu";

$futura: 'futura-pt', 'Myriad Pro Regular', sans-serif;

body {
  font: 14px/14px $futura;
  -webkit-font-smoothing: antialiased;
  overflow-x:hidden;
}

.gallery-root {    position: relative;}

.preloader {
  position: fixed;
  width: 0;
  overflow: hidden;
  top: 0;
  left: 0;
  background-color: #000;
  height: 10px;
  z-index: 9999;
  // -webkit-animation: load-in 1s ease-in-out 0.2s;
  // animation: load-in 1s ease-in-out 0.2s; 
  @include animation(load-in, 1s, ease-in-out, 0.2s);
}

.g {
  width: 1000px; margin:0px auto;
  padding-top: 40px; position: relative;
  z-index: 5; text-align: center;
  @media (max-width: 1000px) {
    width:700px;
  }
  @media (max-width: 700px) {
    width:400px;
  }
  body.mobile & {width:320px;}
}

h1 {
  font: 77px/77px "CKStencil", serif; text-align: center; margin-bottom: 0;
  a {color:#000; text-decoration: none;}
  body.mobile & {margin-top: 18px;font: 40px/40px "CKStencil", serif;}
}
.bgtext {
  position: absolute; z-index: 1; top:308px;width: 100%; color:#292929;
  body.mobile & {display: none;}
}
.bgtext-left {position: relative; left:0; font: 300px/270px "CKStencil", serif; text-align: left;}
.bgtext-right {position: relative; right:0; font: 253px/228px "CKStencil", serif; text-align: right;}

.g-item {
  position: relative;
  display: inline-block; vertical-align: top;
  // display: block; float:left;
  margin-left: 59px;
  margin-bottom: 110px;
  background: inline-image('base64/g-item--blacker.png') 100% 0 no-repeat;
  body.mobile & {
    width: 230px;
    margin:0px auto 20px; float:none;
    background: inline-image('base64/g-item--blacker__mobile.png') 100% 0 no-repeat;
    
  }
}
.g-item__top {
  height: 100px; width: 100%;
  body.mobile & {height:70px;}
}
.g-item__image {
  position: relative; right: 35px;
  cursor: pointer;
  body.mobile & {width:200px;right: 0px;}
  img {
    width: 274px; 
    body.mobile & {width:200px;}
  }
}
.g-item__username {
  color:#fff; font:16px/88px $futura; padding-left: 30px;
  position: relative;     width: 244px;
  text-align: left;
  body.mobile & {font:16px/66px $futura; padding-left: 45px;width: 185px;}
  &:after {
    content: ' ';
    display: block;
    position: absolute;
    right: 0;
    height: 30px;
    top: 30px;
    width: 100px;
    // http://colorzilla.com/gradient-editor/#000000+35,000000+35,000000+100&0+0,1+35,1+35,1+100
    @include filter-gradient(#000000, #000000, horizontal); // IE6-9
    @include background-image(linear-gradient(left, rgba(0,0,0,0) 0%,rgba(0,0,0,1) 35%,rgba(0,0,0,1) 100%));
    body.mobile & {width:100px; top:15px;}
  }
}

.g-item__like {
  background: inline-image('base64/g-item__like.png') 0 0 no-repeat;
  width: 30px; height: 27px; cursor: pointer; position: absolute; right:40px; top:30px;
  z-index: 5;
  body.mobile & {right: 20px; top: 18px;}
  &.g-item__like--liked {background-image: inline-image('base64/g-item__like--liked.png');}
}

.g-item__auth-position {  
  position: absolute; top:14px; right:0; width: 270px;
  body.mobile & {width: 200px; top:0px; right:0;}
}
.g-item__auth {
  position: absolute; bottom:0;
  background:#252525;
  width: 270px; color:#fff; text-transform: uppercase;
  opacity: 0;
  body.mobile & {width: 200px;}
  .g-item__auth-container {
    height:0; overflow: hidden; 
    body.mobile & {}
    @include single-transition(height, ease, 0.7s);
  }
  &.g-item__auth--opened {
    opacity:1;
    .g-item__auth-container {
      height:100px;  
      body.mobile & {height:76px;}
    }  
  }
}
.g-item__auth-item {
  display: inline-block; width: 50px; text-align: center;
  body.mobile & {}
}
.g-item__auth:after {
  content:' '; background: inline-image('base64/g-item__auth-corner.png');
  display: block; width: 20px; height: 10px; position: absolute; bottom:-10px; right:45px;
  body.mobile & {right:25px;}
}
.g-item__auth-title {
  line-height: 29px; margin-top: 19px; padding-left: 25px;
  body.mobile & { line-height: 21px; margin-top: 10px;  padding-left: 21px; font-size: 10px; }
}
.g-item__auth-item {
  font-size:0; width: 30px; height: 30px;
  background-position: 50% 60%;
  background-repeat: no-repeat;
  cursor: pointer; margin:0 14px 0;
  opacity:0.8;
  @include single-transition(opacity, ease, 0.2s);
  &:hover {opacity:1;}
}
.g-item__auth-item--fb { margin: 0 8px 0 20px;background-image:inline-image('base64/g-item__auth-fb.png');}
.g-item__auth-item--in {background-image:inline-image('base64/g-item__auth-insta.png');}
.g-item__auth-item--vk {background-image:inline-image('base64/g-item__auth-vk.png');}


.p {
  position: absolute; width: 1000px; height: 580px; 
  margin:-290px 0 0 -500px;
  box-sizing:border-box; padding:70px;
  left: 50%;
  top: 50%;
  background: #fff;
  z-index: 15;
  body.mobile & {
    width: 100%; height:auto; padding:30px; left:0; top:50px; margin:0;
    position: absolute;     z-index: 10;
  }
}
.p-cross {top:31px; right:31px; position: absolute; background: inline-image('base64/p-cross.png'); width: 13px; height: 13px; cursor: pointer;}
.p-wrapper {
  position: fixed; top:0;left:0; width: 100%; height: 100%;    z-index: 100;
  body.mobile & {position: absolute;}
}
.p-blacker {
  background: rgba(0,0,0,.4); position: fixed; top:0; left:0; width: 100%; height: 100%;
  z-index: 10;
}
.p-image {
  width: 420px; height: 420px;
  background-size:cover;
  background-position: 50% 50%;
  float:left; margin-right:40px;
  // body.mobile & {float:none; width: 260px; height:260px; margin:0;}
}
.p-image_mobile {width:260px;}
.p-content {
  float:left; width: 400px; position: relative; height:420px;
  body.mobile & {width: 100%; height: auto; float:none;}
}
.p-username {
  font: 39px/39px $futura; margin-bottom: 30px;
  body.mobile & {font: 26px/39px "futura-pt", "Myriad Pro Regular", sans-serif; margin: 10px 0 5px;}
}
.p-body {font:16px/19px $futura; color:#7a7a7a;}
.p-line {width: 77px; height: 1px; background:#000; margin: 23px 0;}
.p-rating {padding-left: 47px; font:39px/27px $futura; height: 27px; background:inline-image('base64/p-rating.png') 0 50% no-repeat;}
.p-share {
  position: absolute; bottom:0;
  font: 16px/16px $futura;
}
.p-shareitems {margin:10px 0 0 -15px;}
.p-shareitem {
  display: inline-block;
  background-repeat: no-repeat;
  margin:0px 16px; height: 27px; background-position: 50% 50%; cursor: pointer;
  
  &.p-fb {width: 14px; background-image:inline-image('base64/p-share_fb.png');}
  &.p-tw {width: 29px; background-image:inline-image('base64/p-share_tw.png');}
  &.p-vk {width: 31px; background-image:inline-image('base64/p-share_vk.png');}
}

.loader-container {text-align: center;}
.loader {
  display: inline-block;
  margin:20px auto;
  width: 86px; height: 86px; background:#000;
  cursor: pointer;
}
.loader-arrows {
  width: 86px; height: 86px;
  background-position: 50% 50%;
  background-repeat: no-repeat;
  background-image:inline-image('base64/loader-arrows.png');
  &:hover, .loader-active & {
    @include animation(spin, 1.5s, linear, infinite);
    // animation: spin 1.5s linear infinite;
  }
}