@import "compass/css3";
@import "normalize";
@import "_/mixins";
@import "_/fonts";
@import "_/keyframes";
@import "_/menu";

$futura: 'futura-pt', 'Myriad Pro Regular', sans-serif;

body {
  font: 14px/14px $futura;
  -webkit-font-smoothing: antialiased;
  overflow-x:hidden;
}

.preloader {
  position: fixed;
  width: 0;
  overflow: hidden;
  top: 0;
  left: 0;
  background-color: #000;
  height: 10px;
  z-index: 9999;
  // -webkit-animation: load-in 1s ease-in-out 0.2s;
  // animation: load-in 1s ease-in-out 0.2s; 
  @include animation(load-in, 1s, ease-in-out, 0.2s);
}

.g {
  width: 1002px; margin:0px auto;
  padding-top: 40px; position: relative;
  z-index: 5;
}

h1 {font: 77px/77px "CKStencil", serif; text-align: center; margin-bottom: 0;}
.bgtext {position: absolute; z-index: 1; top:308px;width: 100%; color:#292929}
.bgtext-left {position: relative; left:0; font: 300px/270px "CKStencil", serif; text-align: left;}
.bgtext-right {position: relative; right:0; font: 253px/228px "CKStencil", serif; text-align: right;}

.g-item {
  position: relative;
  // display: inline-block;
  display: block; float:left;
  margin-left: 60px;
  margin-bottom: 110px;
  background: inline-image('base64/g-item--blacker.png') 100% 0 no-repeat;
}
.g-item__top {height: 100px; width: 100%;}
.g-item__image {position: relative; right: 35px;}
.g-item__username {color:#fff; font:16px/88px $futura; padding-left: 30px;}

.g-item__like {
  background: inline-image('base64/g-item__like.png') 0 0 no-repeat;
  width: 30px; height: 27px; cursor: pointer; position: absolute; right:40px; top:30px;
  &.g-item__like--liked {background-image: inline-image('base64/g-item__like--liked.png');}
}

.g-item__auth-position {  position: absolute; top:14px; right:0; width: 270px;}
.g-item__auth {
  position: absolute; bottom:0;
  background:#252525;
  width: 270px; color:#fff; text-transform: uppercase;
  opacity: 0;
  .g-item__auth-container {
    height:0; overflow: hidden; 
    @include single-transition(height, ease, 0.7s);
  }
  &.g-item__auth--opened {
    opacity:1;
    .g-item__auth-container {height:100px;  }  
  }
}
.g-item__auth-item {display: inline-block; width: 50px; text-align: center;}
.g-item__auth:after {
  content:' '; background: inline-image('base64/g-item__auth-corner.png');
  display: block; width: 20px; height: 10px; position: absolute; bottom:-10px; right:45px;
}
.g-item__auth-title {
  line-height: 29px; margin-top: 19px; padding-left: 25px;
}
.g-item__auth-item {
  font-size:0; width: 30px; height: 30px;
  background-position: 50% 60%;
  background-repeat: no-repeat;
  cursor: pointer; margin:0 14px 0;
  opacity:0.8;
  @include single-transition(opacity, ease, 0.2s);
  &:hover {opacity:1;}
}
.g-item__auth-item--fb { margin: 0 8px 0 20px;background-image:inline-image('base64/g-item__auth-fb.png');}
.g-item__auth-item--in {background-image:inline-image('base64/g-item__auth-insta.png');}
.g-item__auth-item--vk {background-image:inline-image('base64/g-item__auth-vk.png');}


.p {
  position: absolute; width: 1000px; height: 580px; 
  margin:-290px 0 0 -500px;
  box-sizing:border-box; padding:70px;
  left: 50%;
  top: 50%;
  background: #fff;
}
.p-cross {top:31px; right:31px; position: absolute; background: inline-image('base64/p-cross.png'); width: 13px; height: 13px; cursor: pointer;}
.p-wrapper {position: fixed; top:0;left:0; width: 100%; height: 100%;    z-index: 100;}
.p-blacker {background: rgba(0,0,0,.4); position: absolute; top:0; left:0; width: 100%; height: 100%;}
.p-image {
  width: 420px; height: 420px;
  background-size:cover;
  background-position: 50% 50%;
  float:left; margin-right:40px;
}
.p-content {float:left; width: 400px; position: relative; height:420px;}
.p-username {font: 39px/39px $futura; margin-bottom: 30px;}
.p-body {font:16px/19px $futura; color:#7a7a7a;}
.p-line {width: 77px; height: 1px; background:#000; margin: 23px 0;}
.p-rating {padding-left: 47px; font:39px/27px $futura; height: 27px; background:inline-image('base64/p-rating.png') 0 50% no-repeat;}
.p-share {
  position: absolute; bottom:0;
  font: 16px/16px $futura;
}
.p-shareitems {margin:10px 0 0 -15px;}
.p-shareitem {
  display: inline-block;
  background-repeat: no-repeat;
  margin:0px 16px; height: 27px; background-position: 50% 50%; cursor: pointer;
  
  &.p-fb {width: 14px; background-image:inline-image('base64/p-share_fb.png');}
  &.p-tw {width: 29px; background-image:inline-image('base64/p-share_tw.png');}
  &.p-vk {width: 31px; background-image:inline-image('base64/p-share_vk.png');}
}